.welcome-content
  h1
    font-size 34px
    span
      padding 6%
      background #ffb62c
      border-radius 100%
      color #333
      margin 3%
  .list-group
    display flex
    flex-wrap wrap
  a.list-group-item
    width 47%
    margin-bottom 15px
    background #112539
    margin-right 3%
    h1,h4
      color #ffb62c
  a.list-group-item:hover, a.list-group-item:focus
    background-color #ffb62ccc
    border 0
    border-left 5px solid #112539
    span
      color #ffb62c
      background #333
    h1,h4
      color #112539
  a.list-group-item.active
    background-color #ffb62c
    border 0
    border-left 5px solid #112539
  .welcome-get-started
    background #333
    color #ffb62c
    border-left 5px solid #ffb62c
    padding 10px 20px 10px 10px
  .welcome-get-started-msg
    line-height 28px
    margin-left 10px
    font-size 16px
