.welcome-content
  h1
    font-size 34px
    span
      padding 1%
  .list-group
    display flex
    flex-wrap wrap
  a.list-group-item
    width 50%
    margin-bottom 2%
    background #112539
    h1,h4
      color #ffb62c
  a.list-group-item:hover, a.list-group-item:focus
    background-color #ffb62ccc
    border 0
    border-left 5px solid #112539
    h1,h4
      color #112539
  a.list-group-item.active
    background-color #ffb62c
    border 0
    border-left 5px solid #112539
  .welcome-get-started
    background #333
    color #ffb62c
    border-left 5px solid #ffb62c
    padding 10px 20px 10px 10px
  .welcome-get-started-msg
    line-height 28px
    margin-left 10px
    font-size 16px
