.detail-sidebar
   border-left 0px
   border-right 1px solid #7e7e7e
   padding-right 5%
  a.list-group-item
    cursor pointer
    margin-bottom 20px
  a.list-group-item.active
    background-color #ffb62c
    color #333
    border 0
    border-right 5px solid #333
  a.list-group-item:hover, a.list-group-item.active:hover, a.list-group-item:focus
    background-color #ffb62ccc
    color #333
    border 0
    border-right 5px solid #333
  .promo
    text-align center
    margin-bottom 20px

+below(800px)
  .detail-sidebar
    min-height 0px
