body
  padding-top 200px
  header
    .navbar
      background-image url("images/top.png")
      background-position-y -30px
      background-repeat no-repeat
.blue-top
  background-color #112539
.navbar-brand img, .navbar-brand span
  padding-left: 15px
  line-height: 1.4
  display: table-cell
  vertical-align: middle
  text-transform: uppercase
  font-family: 'Roboto',sans-serif
  min-width: 70px
  text-shadow: 1px 2px #073c64
  font-weight: 700
.navbar-brand
  display table
